body {
    background-color: #f6eedb;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 70%;
    margin: 0 auto;
    background-color: #f7ecd3;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 10px;
    border: 4px solid #b99a52;
}

 .with_image {
    text-align: center;
}

h1 {
    border-top: 3px solid #cca447;
    border-bottom: 3px solid #cca447;
    margin-left: -10px;
    margin-right: -10px;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

p {
    text-align: justify;
}

.footer p:last-child {
    text-align: center;
}